/* Styles for full website */
*
{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Styles for header */
.header-container
{
    background-image: url(/images/banner/banner1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 600px;
    position: relative;
    margin-bottom: 130px;
}

.banner-content
{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    text-align: right; 
}

.banner-content h1
{
    width: 525px;
    height: 228px;
    font-weight:900;
    font-size: 65px;
    text-align: right;
    margin-bottom: 25px;   
    color: #151414;
}

.banner-content p
{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 35px;
    color: #444343
}

.btn-orange
{
  padding: 16px 20px;
  background: #F15B22;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  border: none;
}

/* Styles for main */

/* First Section */

.first-block
{
    display: flex;
    justify-content: center;
}

.first-block-img
{
    margin-right: 200px;
    width: 550px;
    height: 725px;
    font-weight: 700;
    font-size: 40px;
}

.first-block-text h3
{
    font-weight: 700;
    font-size: 40px;
    width:288px;
    height: 94px;
    margin-top: 200px;
    margin-bottom: 25px;
}

.first-block-text p
{
    width: 400px;
    height: 100px;
}

.first-block-text ul
{
    width: 350px;
    height: 150px;
    margin-left: 20px;
}

.first-block-text ul li
{
    margin-bottom: 10px;
    list-style-image: url(/images/icons/check.png);
}

/* Second Section */

.second-block
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
    margin-left: 250px;
}

.below-h3
{
    display: flex;
    justify-content: center;
    margin-left: 230px;
    text-align: center;
    
}

.below-h3 p
{

    margin-left: 20px;
    
}

.second-block div
{
    margin-right: 90px;
}

.second-block h3
{
    font-weight: 700;
    font-size: 40px;
    margin: 0;
    margin-bottom: 60px;
    text-align: center;
}

.second-block img
{
    width: 90px;
    height: 90px;
    margin-bottom: 15px;
}

.second-block h4
{
    width: 270px;
    height: 35px;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 15px;
}

.second-block p
{
    width: 175px;
    height: 30px;
    color: #737272;
    font-weight: 400;
    font-size: 20px;
}

/* Third Section */

.third-block
{
    width: 1140px;
    height: 300px;
    margin-top: 150px;
    justify-content: center;
    margin-left: 230px;
    background-image: url(/images/watch.png), url(/images/gradient2.png);
    background-blend-mode:soft-light;
    background-repeat: no-repeat;
    margin-bottom: 150px;
}

.third-block h3
{
    color:white;
    font-weight: 700;
    font-size: 40px;
    width: 459px;
    height: 94px;
    text-align: left;
    margin: 60px 620px 25px 65px;
}

.btn-white
{
  padding: 16px 20px;
  background: #ffffff;
  border-radius: 5px;
  color: #F15B22;
  font-weight: 600;
  font-size: 20px;
  border: none;
  width: 160px;
  height: 64px;
  margin-left: 60px;
}


/* Styles for footer */

.footer-container
{
    width: 1950px;
    height: 577px;
    background-color: #151414;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.future
{
    width: 485px;
    height: 317px;
    justify-content: right;
    margin: 130px 10px 0 230px;
}

.future h3
{
    width: 148px;
    height: 53px;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 15px;
}

.future p
{
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;

}

.icons
{
    display: flex;
    
}

.icons a
{
    margin-right: 20px;
}

.subscribe
{
    width: 123px;
    height: 29px;
    font-weight: 400;
    font-size: 25px;
    margin: 110px auto;
}

.subscribe h4
{
    margin-bottom: 30px;
    margin-left: 10px;
}

.email
{
    width: 325px;
    height: 65px;
    background-color: black;
    color: #F3F3F3;
    text-align: justify;
    
    margin: 10px;
    font-weight: 400;
    font-size: 18px;
    border-radius: 10px;
    border-color: white;
}

.last-btn
{
  padding: 16px 20px;
  background: #ffffff;
  border-radius: 5px;
  color: #F15B22;
  font-weight: 600;
  font-size: 20px;
  border: none;
  width: 160px;
  height: 64px;
  margin-left: 10px
}




