/* Styles for full website */
*
{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Styles for header */
.header-container
{
    background-image: url(/images/banner/banner1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 600px;
    position: relative;
    margin-bottom: 130px;
}

.banner-content
{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    text-align: right; 
}

.banner-content h1
{
    width: 525px;
    height: 228px;
    font-weight:900;
    font-size: 65px;
    text-align: right;
    margin-bottom: 25px;   
    color: #151414;
}

.banner-content p
{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 35px;
    color: #444343
}

.btn-orange
{
  padding: 16px 20px;
  background: #F15B22;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  border: none;
}

/* Styles for main */

/* First Section */

.first-block
{
    display: flex;
    justify-content: center;
}

.first-block-img
{
    margin-right: 200px;
    width: 550px;
    height: 725px;
    font-weight: 700;
    font-size: 40px;
}

.first-block-text h3
{
    font-weight: 700;
    font-size: 40px;
    width:288px;
    height: 94px;
    margin-top: 200px;
    margin-bottom: 25px;
}

.first-block-text p
{
    width: 400px;
    height: 100px;
}

.first-block-text ul
{
    width: 350px;
    height: 150px;
    margin-left: 20px;
}

.first-block-text ul li
{
    margin-bottom: 10px;
    list-style-image: url(/images/icons/check.png);
}

/* Second Section */

.second-block
{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.second-block h3
{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 60px;
}

